<div class="container">
    <%= link_to 'Add Product', new_product_path, class: "btn btn-flat" %>
    <% @products.each do |product| %>
        <p><%= link_to product.short_description, product_path(product) %></p>
        <p><%= product.description %></p>
    <% end %>
</div>